body {
  background-color: #66a638;
}

.tooltip-inner {
  background-color: #a94442 !important;
}

.tooltip-arrow {
  border-top-color: #a94442 !important;
}

.header {
  position: absolute;
  left: 0;
  font-weight: bold;
  padding-top: 10px;
  width: 100%;
  height: 40px;
  text-align: center;
  background-color: black;
  a {
    color: #66a638;
  }
}

.content {
  color: #66a638;
  background-color: white;
  margin-top: 70px;
  text-align: center;
  padding: 20px 15px;
  border-radius: 3px;

  .back-link {
    color: grey;
    font-weight: bold;
  }

  .undertext {
    font-size: 20px;
    font-weight: bold;
  }

  .data-button {
    padding: 5px 20px;
    color: grey;
    font-size: 18px;
  }

  .text {
    // color: black;
    font-size: 21px;
    margin: 30px;
  }

  .text-left {
    text-align: left;
  }

  .stats {
    text-align: left;
    .section {
      margin-left: 15px;
      margin-bottom: 20px;
      h2 {
        margin-left: 0;
        font-weight: bold;
      }
      .under-header {
        color: lightgrey;
        font-weight: bold;
        font-size: 18px;
      }
      .list {
        .item {
          font-size: 27px;
          color: black;
          font-weight: bold;
        }
      }

    }
    .back-link {
      margin-left: 15px;
    }
  }
  .lined-text-containter {
    max-width: 150px;
    margin: 15px auto;
    .line {
      width: 60px;
      display: block;
      height: 2px;
      background-color: grey;
      margin-top: -11px;
      content: " ";
    }
    .lined-text {
      display: block;
      color: grey;
      // margin-top: 10px;
      font-size: 17px;
    }
  }


  .left {
    float: left;
  }

  .right {
    float: right;
  }

  .flash {
    margin: 10px 0;
    border: 3px solid red;
    padding: 5px;
    font-size: 17px;
  }

  h1, h2, h3, h4 {
    margin: 3px;
  }

  h1 {
    font-weight: bold;
  }

  .form-group label:first-child {
    color: #66a638;
    font-weight: bold;
  }

  form {
    margin: 20px auto;
    width: 80%;
    text-align: left;
    label {
      display: block;
      font-weight: normal;
      // color: black;
    }

    .has-error label:first-child {
      color: #a94442;
    }

    .has-error .form-control {
      background-color: #fee;
    }

    .label-text {
      display: block;
      clear: both;
      margin: 10px 0;
    }
    // input, textarea {
    //   margin: 10px 0;
    // } 

    // input[type="text"], textarea {
    //   width: 90%;
    //   height: 25px;
    //   display: block;
    //   font-size: 23px;
    //   background-color: #fff;
    //   background-image: none;
    //   border: 3px solid #00a553;
    //   border-radius: 1px;
    //   box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    //   color: #555;
    //   display: block;
    //   font-size: 14px;
    //   height: 34px;
    //   line-height: 1.42857;
    //   padding: 6px 12px;
    //   transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    // }

    textarea {
      height: 70px;
      resize: vertical;
    }

    input[type="submit"] {
      width: 65%;
      display: block;
      font-size: 23px;
      margin: 10px auto;
    }

    input[type="submit"]:hover {
      cursor: pointer;
      background-color: #00a553;
    }
  }
}

i.fa {
  color: #66a638;
  font-size: 11em;
  margin-bottom: 10px;
}


// ::-webkit-input-placeholder {
//   font-size: 27px;
//   color: grey;
//   text-align: center;
// }
// :-moz-placeholder { /* older Firefox*/
//   font-size: 27px;
//   color: grey;
//   text-align: center;
// }
// ::-moz-placeholder { /* Firefox 19+ */ 
//   font-size: 27px;
//   color: grey;
//   text-align: center;
// } 
// :-ms-input-placeholder { 
//   font-size: 27px;
//   color: grey;
//   text-align: center;
// }