.stats
  .section
    %h2 Number of checkins
    .under-header | bin _time span=1mon | stats dc(email) AS checkins by event_id | stats sum(checkins)
    .list
      .item= @checkins
  .section
    %h2 Meetups attended
    .under-header | stats dc(event_id) AS checkins by event_id
    .list
      - @events.each do |e|
        .item= e
  .section
    %h2 Cities visited
    .under-header | stats dc(group_city) AS checkins by group_city
    .list
      - @cities.each do |c|
        .item= c

  = render 'shared/back_link'